<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="margin-left">
        <a routerLink="/">LOGO</a>
    </div>

    <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul class="navigation-item" fxLayout fxLayoutGap="13px"> 
            <li *ngIf="!isAuth">
                <a routerLink="/signin">Sign in</a>
            </li>
            <li *ngIf="!isAuth"> 
                <a routerLink="/login">Log in</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/training">Training</a>
            </li>
            <li *ngIf="isAuth">
                <a (click)="onLogout()" routerLink="/">Log out</a>
            </li>
        </ul>
    </div>


</mat-toolbar>
